<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @receiver %>,
    
    <p>
      Your leave application has been approved. You applied for <%= @no_of_days %> holidays from  <%= @from_to %>.
    </p>
  </body>
</html>